<%= javascript_include_tag 'submit_button_disabled.js' %>

<div class="container">
  <%= simple_form_for(@dog, html: { name:'myForm', class: 'pt-6' }) do |f| %>
    <div class="form-group">
    <%= f.input :name, id: 'dog_upload', input_html: { class: 'form-control' } %>
    </div>
    <div class="form-group">
    <%= f.input :description, as: :text, input_html: { class: 'form-control' } %>
    </div>
    <div class="form-group">
    <%= f.input :images, as: :file, required: true, :input_html => { :multiple => true } %>
    </div>

    <% if @dog.images.any? %>
      <%= image_tag @dog.images.first %>
    <% end %>

    <div class="form-group">
      <%= f.button :submit, :id => 'submit_button', :class => 'btn btn-primary', :disabled => true %>
    </div>
  <% end %>
</div>
