<section>
  <h2>
    <%= @dog.name %>
    <% unless current_user.nil? || @dog.owner == current_user %>
      <% if current_user&.voted_for?(@dog) %>
        <%= link_to "â¤ï¸", like_dog_path(@dog), title: "click to unlike", id: 'like_dog_link' %>
      <% else %>
        <%= link_to "ðŸ¤", like_dog_path(@dog), title: "click to like", id: 'unlike_dog_link' %>
      <% end %>
    <% end %>
  </h2>

  <% @dog.images.each do |image| %>
    <%= image_tag url_for(image), alt: "Photo of #{@dog.name}" %>
  <% end %>

  <p><%= @dog.description %></p>

  <% if current_user && @dog.owner == current_user %>
    <%= link_to "Edit #{@dog.name}'s Profile", edit_dog_path %>
    <br>
    <%= link_to "Delete #{@dog.name}'s Profile", dog_path, method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
</section>
