<!DOCTYPE html>
<html>

<head>
  <title>DogProfile</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <meta content="width=device-width, initial-scale=1" name="viewport" />
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbolinks-track": "reload" %>
</head>

<body>
  <div id="layout">
    <header>
      <%= render partial: 'shared/navbar' %>
    </header>
    <div id="main" class="container">
      <!-- Pregenerated? Doesnt seem relevant to anything -->
      <!-- <div class="notifications">
        <p class="notice">
          <%= notice %>
        </p>
        <p class="alert">
          <%= alert %>
        </p>
      </div> -->
      <%= yield %>
    </div>
    <div class="footer"></div>
  </div>

</body>

</html>